@charset "utf-8";
@import "lake_layout.css";
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Poppins');

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: 
   Date:   
   
   Filename: lake_styles.css

*/
/* Main Layout and formatting */
html {
    background-image: url("https://www.publicdomainpictures.net/pictures/230000/velka/wood-texture-1499188076tZ6.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

body {
    background-color: rgb(100, 87, 78);
    padding: 0 20px;
    box-shadow: 0 0 20px black;
}

section#leftcol>img {
    position: relative;
    margin: 60px 0 10px 0;
}


/* Links and Header formatting and design. Relative position to make space for navbar above page. Z-index to make sure that
image overlay text stayed above image. Effects and scale applied on hover event. */
a {
    text-decoration: none;
}

section#leftcol>a>h1:first-of-type {
    position: relative;
    top: 260px;
    margin: 0 220px;
    text-align: center;
    background-color: rgba(100, 87, 78, 0.5);
    transition: .2s;
    z-index: 1;
}

section#leftcol>a>h1:first-of-type:hover {
    position: relative;
    top: 260px;
    margin: 0 220px;
    text-align: center;
    background-color: rgba(100, 87, 78, 0.8);
    transform: scale(1.05);
    filter: drop-shadow(0 5px 5px black);
}


/* Header fixed to follow page, z-index to stay above other page elements. */
header {
    position: fixed;
    width: 686px;
    z-index: 2;
    filter: drop-shadow(0 5px 5px black);
}

nav {
    background-color: rgb(107, 90, 76);
    padding: 5px;
    border: 2px rgb(36, 36, 36) solid;
    color: white;
}


/* Sidenav hover events and formatting/layout. */
nav h2 {
    font-family: "Abril Fatface", serif;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    transition: .1s;
    padding: 0 5px;
}

nav a:hover {
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    background-color: rgb(36, 36, 36);
    filter: drop-shadow(0 2px 5px black);
}

aside a {
    color: white;
}

aside a:hover {
    color: white;
    filter: drop-shadow(0 2px 5px black);
}

/* Additional page layour and styling of colors and fonts. */
h1 {
    background-color: rgb(107, 90, 76);
    border: 2px rgb(36, 36, 36) solid;
    font-family: "Abril Fatface", serif;
    color: white;
    padding: 1vw;
}

h2 {
    color: white;
    font-family: "Poppins", sans-serif;
}

html {
    background-color: rgb(139, 130, 119);
}

p {
    color: white;
    font-family: "Poppins",
        sans-serif;
}


/* Image border and list styling. Changed list bullet points. */
img {
    border: 2px rgb(36, 36, 36) solid;
}

ul {
    color: white;
    font-family: "Poppins",
        sans-serif;
}

li {
    list-style-type: circle;
}


/* Before and after blockquotes set. */
blockquote::before {
    content: open-quote;
    font-family: "Abril Fatface",
        serif;
    font-size: 32px;
}

blockquote::after {
    content: close-quote;
    font-family: "Abril Fatface",
        serif;
    font-size: 32px;
}

blockquote {
    color: white;
    font-family: "Poppins",
        sans-serif;
    border-left: white 4px dotted;
    padding: 10px;
    margin: 12px 6px;
}

/* Footer format, color, and design. */
footer {
    text-align: center;
    color: white;
    font-family: "Poppins",
        sans-serif;
    text-transform: uppercase;
}


/* Basic page scaling based on screen width. Elements scale with page and reformat or disappear to fit page.*/
@media only screen and (max-width: 1020px) {
    header {
        position: fixed;
        width: 67.2vw;
    }
}

@media only screen and (max-width: 900px) {
    section#leftcol>a>h1:first-of-type {
        position: relative;
        top: 260px;
        margin: 0 220px;
        text-align: center;
        background-color: rgba(100, 87, 78, 0.5);
        transition: .2s;
        z-index: 1;
        display: none;
    }

    header {
        display: none;
    }

    section#leftcol>img {
        position: relative;
        margin: 0 0 10px 0;
    }

    body>section#rightcol {
        display: none;
    }

    body>section#leftcol {
        width: 100%;
    }
}